<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <!-- fetch组合 -->
    <script type="text/javascript" charset="utf-8" src="./../../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/input-popup/index.js"></script>

    <link type="text/css" rel="stylesheet" href="./../../../components/confirm-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/confirm-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../../components/service-storage/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../lib/picka-date/rolldate.min.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 缓存区域 -->
    <div class="caching flex-start">
        <div class="caching-container target-container flex-start flex-rest">
            <div class="task-item flex-rest flex-center" id="caching-target">范围: 所有</div>
        </div>

        <!-- 
            作用: 缓存正在执行的任务
            定义: 2种状态; 1.正在执行此任务; 2.开始执行此任务?
         -->
        <div class="caching-container doing-container flex-start flex-rest">
            <div class="task-item flex-center flex-rest" id="caching-task">执行此任务?</div>
            <!-- <div class="task-item flex-rest flex-center">任务</div> -->
            <!-- <div class="task-operate flex-center">unlock</div> -->
        </div>
    </div>

    <!-- 任务区域 -->
    <div class="todo">
        <div class="todo-container">
            <div class="todo-title">标题</div>
            <div class="todo-specific">具体任务内容</div>

            <!-- 
                作用: 现在不想做, 等待特定时间去做;
                场景: 存在推迟任务的情况, 就需要显示;
             -->
            <div class="todo-putoff flex-center">推迟的时间?</div>
            <div class="todo-complete flex-center">完成的时间?</div>

            <div class="todo-operation flex-start-center">
                <div class="todo-details-operation flex-rest flex-center">任务详情?</div>
                <!-- 如果有结论才显示 -->
                <div class="todo-conclusion-operation flex-rest flex-center">显示结论/记录?</div>
            </div>

            <!-- 点击展开 -->
            <div class="todo-details">
                <div class="todo-measure">衡量任务完成的标准?</div>
                <div class="todo-span">长时间跨度下这任务的意义?</div>
                <div class="todo-aspects">任务影响涉及到哪些方面?好处?</div>
                <div class="todo-worth">任务的本质是为了什么?</div>
                <div class="todo-time">是否必须完成?何时?</div>
            </div>

            <div class="todo-record-add flex-center" id="add-edit-record">新增结论/记录?</div>

            <div class="todo-operation flex-start-center">
                <div class="operation-item flex-rest flex-center">完成?</div>
                <input readonly type="text" id="picka-date" placeholder="YYYY-MM-DD hh:mm" style="display: none;">
                <div class="operation-item flex-rest flex-center" id="edit-putoff">推迟?</div>
                <div class="operation-item flex-rest flex-center" id="edit-todo">编辑?</div>
                <div class="operation-item flex-rest flex-center" id="edit-delete">删除?</div>
                <!-- 作用: 随机执行target范围内的任务 -->
                <div class="operation-item flex-rest flex-center">todo other?</div>
            </div>
        </div>
    </div>

    <!-- 操作区域 -->
    <div class="operation">
        <!-- 定义: 2种状态; 1.存在target,跳转到todo-list 2. 不存在target,跳转到target -->
        <div class="operation-button" id="other-todo">还有什么可以做?</div>
        <div class="dividing-line"></div>
        <div class="operation-button" id="reason-todo">为什么要做这个?</div>
        <div class="dividing-line"></div>
        <div class="operation-button" id="add-todo">新增任务?</div>
    </div>
</body>

</html>