<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Why</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <div class="todo-assist-list flex-column-center">
        <div class="button-container">
            <div id="conclusion" class="button noselect">新增结论?</div>
        </div>
        <div class="button-container">
            <div id="reason" class="button noselect">新增理由?</div>
        </div>
        <div class="button-container">
            <div id="plan" class="button noselect">新增计划?</div>
        </div>
        <div class="button-container">
            <div id="according" class="button noselect">新增计划依据?</div>
        </div>
        <div class="button-container">
            <div id="target" class="button noselect">新增目标?</div>
        </div>
    </div>
</body>

</html>