<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo List</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <div class="list">
        <div class="list-item">
            <div class="list-item-container">任务标题</div>
        </div>
        <div class="list-item">
            <div class="list-item-container">任务标题</div>
        </div>
    </div>

    <div class="button-container">
        <div id="show-putoff" class="button noselect">显示更多</div>
        <div id="show-putoff" class="button noselect">显示推迟</div>
        <div id="show-complete" class="button noselect">显示已完成</div>
    </div>

</body>

</html>