<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo List</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <!-- fetch组合 -->
    <script type="text/javascript" charset="utf-8" src="./../../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/input-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../../components/service-storage/index.js"></script>

    <link type="text/css" rel="stylesheet" href="./../../../components/confirm-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/confirm-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../utils/time-transformers.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 正在执行的任务 -->
    <div id="process-task" class="process-task">
        <div class="process-container flex-start">
            <div class="task-item flex-rest flex-center" id="process-description">范围: 所有</div>
            <div class="task-del flex-center" id="process-unlock">unlock</div>
        </div>
    </div>

    <div class="list" id="executable-task">
        已经完成所有任务
        <!-- <div class="list-item">
            <div class="list-item-container">
                <div class="list-item-title">任务标题</div>
            </div>
        </div> -->
    </div>

    <div class="list" id="putoff-task" style="display: none;">
        <!-- <div class="list-item">
            <div class="list-item-container">
                <div class="list-item-title">任务标题</div>
                <div class="list-item-time">推迟: 2020年2月23日11:55:35</div>
            </div>
        </div> -->
    </div>

    <div class="button-container">
        <div id="show-putoff" class="button noselect">显示推迟</div>
        <div id="show-complete" class="button noselect">显示已完成</div>
    </div>

    <div class="list" id="complete-task" style="display: none;">
        <!-- <div class="list-item">
            <div class="list-item-container">
                <div class="list-item-title">任务标题</div>
                <div class="list-item-time">完成: 2020年2月23日11:55:35</div>
            </div>
        </div> -->
    </div>

    <div class="button-container" id="show-more-container" style="display: none;">
        <div id="show-more" class="button noselect">显示更多</div>
    </div>

    <!-- 操作区域 -->
    <div class="operation">
        <div class="operation-button" id="add-todo">新增任务?</div>
    </div>
</body>

</html>