<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Why Eidt</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <div class="reason-eidt flex-column-center">
        <textarea id="reason-input" class="reason-textarea fiex-rest" type="text" placeholder="请输入理由"></textarea>

        <div class="reason-operating flex-start">
            <div class="operating-sticky-reason flex-rest flex-center">顶置理由</div>
            <div class="operating-unpin-reason flex-rest flex-center">取消置顶</div>
            <div class="operating-yes flex-rest flex-center">确认</div>
            <div class="operating-del flex-rest flex-center">删除</div>
        </div>
    </div>
</body>

</html>