body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #606266;
  background-color: #f1f1f1;
}
.reason-eidt {
  width: 100%;
  height: 100%;
}
.reason-eidt .reason-textarea {
  padding: 0px;
  width: 100%;
}
.reason-eidt .reason-operating {
  height: 45px;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
.reason-eidt .reason-operating .operating-sticky-reason,
.reason-eidt .reason-operating .operating-unpin-reason,
.reason-eidt .reason-operating .operating-confirm {
  border-right: 1px solid #ddd;
}
.reason-eidt .reason-operating > div {
  height: 45px;
}
