body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #606266;
  background-color: #f1f1f1;
}
.according-eidt {
  width: 100%;
  height: 100%;
}
.according-eidt .according-textarea {
  padding: 0px;
  width: 100%;
}
.according-eidt .according-operating {
  height: 45px;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
.according-eidt .according-operating .operating-yes {
  border-right: 1px solid #ddd;
}
.according-eidt .according-operating > div {
  height: 45px;
}
