<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo Edit</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 编辑 -->
    <div class="edit">

        <!-- 任务标题 -->
        <div class="edit-title">简单描述/提问:</div>
        <input type="text" />

        <!-- 任务具体内容 -->
        <div class="edit-title">任务具体内容是什么:</div>
        <input type="text" />

        <div class="edit-title">衡量任务完成的标准?</div>
        <input type="text" />

        <div class="edit-title">长时间跨度下这任务的意义?</div>
        <input type="text" />

        <div class="edit-title">任务影响涉及到哪些方面?好处?</div>
        <input type="text" />

        <div class="edit-title">任务的本质是为了什么?</div>
        <input type="text" />

        <div class="edit-title">是否需要确切完成时间?何时?</div>
        <input type="text" />

        <div class="edit-title">是否需要推迟?</div>
        <input type="text" />

        <div class="edit-title">得出什么结论?</div>
        <!-- 可以点击新增删除删除 -->
        <input type="text" />

    </div>

    <!-- 操作区域 -->
    <div class="operation">
        <div class="operation-button">保存</div>
        <div class="operation-button">done</div><!-- 条件判断 -->
        <div class="operation-button">取消/删除</div><!-- 条件判断 -->
    </div>
</body>

</html>