<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo Edit</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <script type="text/javascript" charset="utf-8" src="./../../../lib/picka-date/rolldate.min.js"></script>

    <!-- fetch组合 -->
    <script type="text/javascript" charset="utf-8" src="./../../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/input-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../../components/service-storage/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../utils/time-transformers.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 编辑 -->
    <div class="edit">

        <!-- 任务标题 -->
        <div class="edit-title edit-required">*简单描述/提问:</div>
        <div class="edit-input flex-start-center">
            <input type="text" placeholder="简单描述/提问" id="edit-title" />
        </div>

        <!-- 任务具体内容 -->
        <div class="edit-title edit-required">*任务具体内容是什么:</div>

        <div class="edit-input flex-start-center">
            <textarea rows="3" type="text" placeholder="任务具体内容是什么" id="edit-content"></textarea>
        </div>

        <div class="edit-title">衡量任务完成的标准?</div>
        <div class="edit-input flex-start-center">
            <input type="text" placeholder="衡量任务完成的标准" id="edit-measure" />
        </div>

        <div class="edit-title">长时间跨度下这任务的意义?</div>
        <div class="edit-input flex-start-center">
            <input type="text" placeholder="长时间跨度下这任务的意义" id="edit-span" />
        </div>

        <div class="edit-title">任务影响涉及到哪些方面?好处?</div>
        <div class="edit-input flex-start-center">
            <input type="text" placeholder="任务影响涉及到哪些方面?好处?" id="edit-aspects" />
        </div>

        <div class="edit-title">任务的本质是为了什么?</div>
        <div class="edit-input flex-start-center">
            <input type="text" placeholder="任务的本质是为了什么" id="edit-worth" />
        </div>

        <div class="edit-title">是否必须完成?何时?</div>
        <div class="edit-input flex-start-center">
            <input type="text" placeholder="是否必须完成" id="edit-estimate" />
        </div>

        <div class="edit-title">是否需要隐藏次任务?</div>
        <div class="edit-input flex-start-center">
            <input readonly type="text" id="picka-date" placeholder="推迟?">
            <div class="picka-clear flex-center" id="picka-clear">显示</div>
        </div>

        <div class="edit-title">得出什么结论?</div>
        <!-- 可以点击新增删除删除 -->
        <div class="edit-input flex-start-center">
            <textarea rows="3" type="text" placeholder="结论" id="edit-conclusion"></textarea>
        </div>

    </div>

    <!-- 操作区域 -->
    <div class="operation">
        <div class="operation-container flex-start-center">
            <div class="operation-button flex-center flex-rest" id="edit-confirm">保存</div>
            <div class="vertical-line"></div>
            <div class="operation-button flex-center flex-rest">done</div><!-- 条件判断 -->
            <div class="vertical-line"></div>
            <div class="operation-button flex-center flex-rest">取消/删除</div><!-- 条件判断 -->
        </div>
    </div>
</body>

</html>