<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Plan</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <!-- fetch组合 -->
    <script type="text/javascript" charset="utf-8" src="./../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/input-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../components/service-storage/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../utils/time-transformers.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <div class="plan-title">“公务员”具体计划是什么?</div>
    <div class="plan-content" id="plan-latest">
        <!-- <div class="content-container">
            <div class="content-title">方案4</div>
            <div class="content-description">最新方案</div>
        </div> -->
    </div>
    <div class="plan-list" id="plan-list">
        <div class="list-container">
            <!-- 注意: 已经发布的方案无法编辑; 直接展开方案显示详情即可; -->
            <!-- <div class="plan-other flex-start-center">方案3 (2020-2-14 20:29:26)</div>
            <div class="plan-other flex-start-center">方案2 (2020-1-21 11:49:06)</div>
            <div class="plan-other flex-start-center">方案1 (2019-12-7 7:19:11)</div> -->
        </div>
    </div>
    <div class="plan-more">
        <div class="more-container flex-center" id="add-more">更多方案</div>
    </div>

    <div class="plan-operating">
        <div class="add-plan">
            <div class="flex-center" id="edit-add">新增方案</div>
        </div>
        <div class="plan-according">
            <div class="flex-center" id="according-list">方案有什么依据?</div>
        </div>
        <div class="add-plan">
            <div class="flex-center" id="according-add">新增依据</div>
        </div>
        <div class="todo">
            <div class="flex-center">有啥任务可以做的?</div>
        </div>
    </div>
</body>

</html>