<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Why</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 统计 -->
    <div class="statistics">
        <div class="statistics-title">任务统计</div>
        <div class="statistics-description">这个月完成<span>0</span>个任务</div>
    </div>

    <!-- spiritual check -->
    <div class="spiritual">
        <div id="spiritual" class="spiritual-container flex-center">状态觉察怎样?</div>
    </div>

    <!-- 理由 -->
    <div class="reason">
        <div class="reason-title">为什么要"考公务员"?</div>
        <div class="reason-new">
            <div class="reason-item">
                <div class="item-container">最新理由一</div>
            </div>
            <div class="reason-item">
                <div class="item-container">最新理由二</div>
            </div>
        </div>
        <div class="reason-related">
            <div class="reason-item">
                <div class="item-container">最大理由一</div>
            </div>
            <div class="reason-item">
                <div class="item-container">最大理由二</div>
            </div>
            <div class="reason-item">
                <div class="item-container">最大理由三</div>
            </div>
        </div>
        <div class="reason-other">
            <div class="reason-item">
                <div class="item-container">其他理由一</div>
            </div>
            <div class="reason-item">
                <div class="item-container">其他理由一</div>
            </div>
        </div>
        <div class="reason-load">加载更多</div>
    </div>

    <!-- 操作区域 -->
    <div class="operational">
        <div class="operational-item">
            <div class="item-container">新增理由?</div>
        </div>
        <div class="operational-item">
            <div class="item-container">有哪些事情可以做?</div>
        </div>
        <div class="operational-item">
            <div class="item-container">具体计划是什么?</div>
        </div>
    </div>
</body>

</html>