<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Why</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <!-- fetch组合 -->
    <script type="text/javascript" charset="utf-8" src="./../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/input-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../components/service-storage/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../utils/const-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../utils/json-handle.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 统计 -->
    <div class="statistics">
        <div class="statistics-title" id="statistics-all">所有任务统计</div>
        <div class="statistics-description" id="statistics-target">这个月完成<span>0</span>个任务</div>
    </div>

    <!-- spiritual check -->
    <div class="spiritual">
        <div id="spiritual" class="spiritual-container flex-center">状态觉察怎样?</div>
    </div>

    <!-- 理由 -->
    <div class="reason">
        <div class="reason-title" id="reason-title">为什么要"任务"?</div>
        <div class="reason-new" id="reason-new">
            <!-- <div class="reason-item">
                <div class="item-container">最新理由一</div>
            </div>
            <div class="reason-item">
                <div class="item-container">最新理由二</div>
            </div> -->
        </div>
        <div class="reason-related" id="reason-related">
            <!-- <div class="reason-item">
                <div class="item-container">最大理由一</div>
            </div>
            <div class="reason-item">
                <div class="item-container">最大理由二</div>
            </div>
            <div class="reason-item">
                <div class="item-container">最大理由三</div>
            </div> -->
        </div>
        <div class="reason-other" id="reason-random">
            <!-- <div class="reason-item">
                <div class="item-container">其他理由一</div>
            </div>
            <div class="reason-item">
                <div class="item-container">其他理由一</div>
            </div> -->
        </div>
        <div class="reason-load" id="reason-load">加载更多</div>
    </div>

    <!-- 操作区域 -->
    <div class="operational">
        <div class="operational-item">
            <div class="item-container" id="add-edit">新增理由?</div>
        </div>
        <div class="operational-item">
            <div class="item-container" id="operational-todo">有哪些事情可以做?</div>
        </div>
        <div class="operational-item">
            <div class="item-container" id="operational-plan">具体计划是什么?</div>
        </div>
    </div>
</body>

</html>