body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #606266;
  background-color: #f1f1f1;
}
.statistics {
  padding: 25px 15px 15px 15px;
}
.statistics .statistics-title {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}
.statistics .statistics-description {
  font-size: 16px;
}
.statistics .statistics-description span {
  font-size: 18px;
  color: red;
  padding: 0px 10px;
}
.spiritual {
  padding: 0px 15px 15px 15px;
}
.spiritual .spiritual-container {
  height: 32px;
  border: 1px solid #ddd;
  background: #fff;
}
