<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>

    <!-- 任务区域 -->
    <div class="todo">
        <div class="todo-title">标题</div>
        <div class="todo-specific">具体任务内容</div>

        <div class="todo-details">任务的其他详细信息?</div>
        <!-- 点击展开 -->
        <div class="todo-measure">衡量任务完成的标准?</div>
        <div class="todo-measure">长时间跨度下这任务的意义?</div>
        <div class="todo-measure">任务涉及到哪些方面?</div>
        <div class="todo-measure">任务的本质是为了什么?</div>
        <div class="todo-measure">是否需要确切完成时间?何时?</div>

        <!-- 如果有结论才显示 -->
        <div class="todo-conclusion">已有哪些结论?记录?</div>
        <!-- 点击展开 -->

        <div class="todo-conclusion">得出什么结论?记录什么?</div>

        <div class="todo-operation flex-start-center">
            <div class="operation-item flex-rest flex-center">完成?</div>
            <div class="operation-item flex-rest flex-center">推迟?</div>
            <div class="operation-item flex-rest flex-center">编辑?</div>
            <div class="operation-item flex-rest flex-center">todo other?</div>
            <div class="operation-item flex-rest flex-center">删除?</div>
        </div>
    </div>

    <!-- 操作区域 -->
    <div class="operation">
        <div class="operation-button">还有什么可以做?</div>
        <div class="operation-button">为什么要做这个?</div>
    </div>
</body>

</html>