<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Todo</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <link type="text/css" rel="stylesheet" href="./../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/toast/index.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>

    <!-- 任务区域 -->
    <div class="todo">
        <div class="todo-container">
            <div class="todo-title">标题</div>
            <div class="todo-specific">具体任务内容</div>

            <!-- 有推迟才显示 -->
            <div class="todo-putoff flex-center">推迟时间</div>

            <div class="todo-operation flex-start-center">
                <div class="todo-details-operation flex-rest flex-center">任务的其他详细信息?</div>
                <!-- 如果有结论才显示 -->
                <div class="todo-conclusion-operation flex-rest flex-center">已有哪些结论?记录?</div>
            </div>

            <!-- 点击展开 -->
            <div class="todo-details">
                <div class="todo-measure">衡量任务完成的标准?</div>
                <div class="todo-span">长时间跨度下这任务的意义?</div>
                <div class="todo-aspects">任务影响涉及到哪些方面?好处?</div>
                <div class="todo-worth">任务的本质是为了什么?</div>
                <div class="todo-time">是否需要确切完成时间?何时?</div>
            </div>

            <div class="todo-record-add flex-center">得出什么结论?记录什么?</div>

            <div class="todo-operation flex-start-center">
                <div class="operation-item flex-rest flex-center">完成?</div>
                <div class="operation-item flex-rest flex-center">推迟?</div>
                <div class="operation-item flex-rest flex-center" id="edit-todo">编辑?</div>
                <div class="operation-item flex-rest flex-center">删除?</div>
                <div class="operation-item flex-rest flex-center">todo other?</div>
            </div>
        </div>
    </div>

    <!-- 操作区域 -->
    <div class="operation">
        <div class="operation-button">还有什么可以做?</div>
        <div class="operation-button">为什么要做这个?</div>
        <div class="operation-button">新增任务?</div>
    </div>
</body>

</html>