<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Plan Eidt</title>

    <link type="text/css" rel="stylesheet" href="./../../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../../css/flex.css">

    <!-- fetch组合 -->
    <script type="text/javascript" charset="utf-8" src="./../../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../../components/input-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../../components/service-storage/index.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <div class="plan-eidt flex-column-center">
        <textarea id="plan-input" class="plan-textarea fiex-rest" type="text" placeholder="请输入计划"></textarea>

        <div class="plan-operating flex-start">
            <div class="operating-deploy flex-rest flex-center" id="confirm" style="border-right: 1px solid #ddd;">
                编辑/发布
            </div>
            <div class="operating-yes flex-rest flex-center">保存草稿</div>
        </div>
    </div>
</body>

</html>