<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Conclusion</title>

    <link type="text/css" rel="stylesheet" href="./../../css/base.css">
    <link type="text/css" rel="stylesheet" href="./../../css/flex.css">

    <!-- fetch -->
    <script type="text/javascript" charset="utf-8" src="./../../components/fetch/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../components/toast/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/toast/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../components/input-popup/index.css">
    <script type="text/javascript" charset="utf-8" src="./../../components/input-popup/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../utils/json-handle.js"></script>
    <script type="text/javascript" charset="utf-8" src="./../../components/service-storage/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="./../../utils/const-handle.js"></script>

    <link type="text/css" rel="stylesheet" href="./index.css">
    <script type="text/javascript" charset="utf-8" src="./index.js"></script>
</head>

<body>
    <!-- 正在执行的任务 -->
    <div id="process-task" class="process-task">
        <div class="process-container flex-start">
            <div class="task-item flex-rest flex-center" id="process-description">范围: 所有</div>
            <div class="task-del flex-center" id="process-unlock">unlock</div>
        </div>
    </div>

    <div class="sort">
        <div id="sort" class="sort-container flex-center">时间排序</div>
    </div>

    <div class="conclusion">
        <div class="conclusion-item">
            <div class="item-container">
                <div class="item-title">这是标题</div>
                <!-- <div class="item-image">
                    <img id="image" src="image.jpg" alt="image">
                </div> -->
                <div class="item-description">这是内容</div>
            </div>
        </div>
        <div class="conclusion-load flex-center">加载更多</div>
    </div>
    <div class="operating">
        <div class="operating-button">
            <div class="button-container flex-center" id="conclusion-add">新增结论</div>
        </div>
    </div>
</body>

<script type="text/javascript" charset="utf-8" src="./../../lib/preview-image/index.js"></script>

</html>