@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

.project-plan {
    width           : 100%;
    min-height      : 230px;
    background-color: #fff;
    border-bottom   : 1px solid #ddd;
    overflow-x      : auto;

    .project-plan-container {
        padding  : 15px;
        min-width: 100%;
    }

    .project-plan-main {
        position : relative;
        padding  : 0px 15px;
        font-size: 12px;
        height   : 35px;
        border   : 1px solid #ddd;

        label:hover {
            color : #1890ff;
            cursor: pointer;
        }

        .add-main-plan {
            position: absolute;
            right   : -6px;
            z-index : 1;
            cursor  : pointer;
        }

        .add-sub-plan {
            position: absolute;
            bottom  : -6px;
            z-index : 1;
            cursor  : pointer;
        }
    }

    .add-main-plan,
    .add-sub-plan,
    .add-icon {
        fill: #303133;
    }

    .add-main-plan:hover,
    .add-sub-plan:hover,
    .add-icon:hover {
        fill: #1890ff;
    }
}

.project-plan::-webkit-scrollbar-track {
    box-shadow        : inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color  : #F5F5F5;
}

.project-plan::-webkit-scrollbar {
    height          : 8px;
    background-color: #F5F5F5;
}

.project-plan::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}