body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #606266;
  background-color: #f1f1f1;
}
.according .according-container {
  padding: 15px;
}
.according .according-container .according-item {
  padding: 15px;
  border: 1px solid #ddd;
}
.according .operating-container {
  padding-bottom: 15px;
}
.according .operating-container .according-operating {
  line-height: 32px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.operating {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.operating .operating-button {
  padding-bottom: 15px;
}
.operating .operating-button .button-container {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
}
