@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

.web-device .main-windows .windows-list {
    width : 100%;
    height: 100%;

    .windows-list-content {
        height: 100%;
        width : 100%;

        .windows-list-row {
            width         : 100%;
            height        : 100%;
            display       : flex;
            flex-direction: row;
            border-bottom : 1px solid #ddd;
        }

        .windows-list-item {
            padding     : 15px;
            border-right: 1px solid #ddd;
            cursor      : pointer;
        }

        .windows-list-item:hover {
            background-color: #fff;
        }

        .windows-list-item:last-child {
            border-right: none;
        }

        .list-item-container {
            overflow: hidden;
        }

        .list-item-container>div {
            padding-bottom: 10px;
            word-break    : break-all;
        }

        .list-item-title {
            font-size  : 16px;
            font-weight: bold;
        }
    }

    .windows-list-quadrant {
        height: 100%;
        width : 100%;

        .windows-list-row {
            width         : 100%;
            height        : 100%;
            display       : flex;
            flex-direction: row;
            border-bottom : 1px solid #f5222d;

            .windows-list-left {
                width       : 100%;
                border-right: 1px solid #f5222d;
            }

            .windows-list-item {
                width        : 100%;
                height       : 100%;
                border-bottom: 1px solid #ddd;
                cursor       : pointer;

                .windows-item-container {
                    padding: 15px;
                }
            }

            .windows-list-item:hover {
                background-color: #fff;
            }

            .windows-list-item:last-child {
                border-bottom: none;
            }

            .windows-item-title {
                font-size: 16px;
            }

            .windows-item-container>div {
                padding-bottom: 10px;
                word-break    : break-all;
            }
        }

        .windows-list-row:last-child {
            border-bottom: none;
        }
    }
}